body{
	background-color: white;
}

.page-head {
  font-size: 18px;
}

/*Styling the form*/

form{
	background-color:white ;
}

.link a:hover{
	color: white;
}
.form-panel{
	background-color:white;
	width: 350px;
	margin-left:auto;
	margin-right: auto; 
}
.form-heading{
	font-weight: bold;
	background-color:#449d44; 
	font-size: 20px;
	color: white;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;

}
.reg-btn-sbt{
	padding-bottom: 10px;

}

label{
	color: green;
	font-style: italic;
	font-weight: bold;
}

button:hover{
	background-color: rgb(16, 88, 44);
	color: white;
}
select{
	width: 50%;
	background-color: whitesmoke;
	color: rgb(240, 109, 15);

}
input:hover, select:hover{
	background-color: transparent;
}

a:hover{
	cursor: pointer;
}

/*Dropdown menue*/
nav{
	padding-top: 10px;
	margin-left:auto;
	margin-right: auto; 
}
nav ul li{
	display: inline-block;
	padding: 0px 20px 10px 20px;
	list-style: none;

}
nav ul li a:hover{
	color: white;
	text-decoration: none;

}
nav ul li a{
	color: black;
}
/*Dropdown End*/
